.search-form{
    width: 100%;
    max-width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #808080;
}

.search-item{
    height: 80%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: none;
    font-size: 14px;
    background-color: white;
    position: relative;
}

.search-item:not(:first-child){
    border-left: 1px solid #ddd;
    height: 80%;
}

.search-item:nth-child(1),
.search-item:nth-child(2) {
    width: 20%;
}

.search-item:last-child {
    width: 60%;
}

.search-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    outline: none;
}

.search-item:not(:last-child)::after{
    content: "▼";
    font-size: 10px;
    color: #ddd;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input-wrapper{
    flex: 2;
    position: relative;
    width: 100%;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px 15px 8px 30px;
    width: 100%;
    font-size: 14px;
}

.search-input::placeholder{
    color: #aaa;
}

.search-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: #aaa;
}

.no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 18px;
}

.shop-list{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    margin: 0 auto;
}

.shop-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #808080;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.shop-card-image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.shop-card-text{
    padding: 15px;
}

.shop-card-details{
    margin: 0;
    padding: 0;
}

.shop-card-details h3{
    margin: 0;
    font-size: 16px;
}

.shop-card-details p{
    margin: 5px 0 0 0;
    font-size: 12px;
}

.shop-card-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.shop-card-actions a{
    width: 100px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: white;
}

.favorite-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn i{
    font-size: 30px;
    color:#ddd;
}

.favorite-btn.active i{
    color: #ff0088;
}