.content{
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.reservation{
    width: 40%;
    margin: 80px 40px 0 0;
}

.reservation-ttl h2{
    font-size: 20px;
    margin: 0;
    padding: 20px 0;
}

.reservation-list{
    width: 100%;
    background-color: #3355ff;
    color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #808080;
}

.reservation-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 0;
    position: relative;
}

.reservation-list-header-left{
    display: flex;
    align-items: center;
}

.clock-icon{
    font-size: 16px;
    margin-right: 20px;
}

.reservation-list-header h3{
    font-size: 14px;
    margin: 0;
}

.cancel-btn{
    border: none;
    background-color: #3355ff;
}

.cancel-icon{
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.info-item{
    display: flex;
}

.info-item h3 {
    font-size: 14px;
    width: 100px;
    margin: 10px 0;
}

.info-item p {
    font-size: 14px;
    margin: 10px 0;
}

.cancel-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 200px auto;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.modal-cancel-icon {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: blue;
}

.modal-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-size: 16px;
    color: black;
}

.modal-actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    padding: 0 40px;
}

.cancel-form{
    width: 80px;
    border: none;
}

.btn-yes{
    width: 100%;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn-no {
    width: 80px;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.favorite{
    width: 60%;
    margin-left: 30px;
}

.user_name{
    height: 80px;
}

.user_name h2{
    font-size: 24px;
    text-align: center;
}

.favorite-ttl h3{
    font-size: 20px;
    margin: 0;
    padding: 20px 0;
}

.favorite-list-area{
    display: flex;
}

.favorite-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    margin: 0 auto;
}

.shop-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #808080;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.shop-card-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.shop-card-text {
    padding: 15px;
}

.shop-card-details {
    margin: 0;
    padding: 0;
}

.shop-card-details h3 {
    margin: 0;
    font-size: 16px;
}

.shop-card-details p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.shop-card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.shop-card-actions a {
    width: 100px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: white;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn i {
    font-size: 30px;
    color: #ddd;
}

.favorite-btn.active i,
.favorite-btn i.favorited {
    color: #ff0088;
}